/* CSS for Mobile Devices */
@media all and (min-width: 320px) and (max-width : 767px) {
    
    .content{padding:20px 0;}
    
    .mobileMarginT10{margin-top:10px;}
    .mobileMarginT15{margin-top:15px;}
    .mobileMarginT20{margin-top:20px;}
    
    footer{position: relative;}
    
    .artBrickWrapper .col-md-3 + .col-md-3{margin-top:20px;}

    .artDetailsContent .artTitle{margin-top:15px;}
           
    .cartMobile .cartItems .row + .row,
    .myOrdersPage .cartMobile .cartItems .row:first-child{
        margin-top:10px;
        padding-top:10px;
        border-top:2px solid #ccc;
    }
    
    .cartMobile .input-group{width:100px;}
    
    .cartMobile .form-control{padding:6px; height:30px}

    .cartMobile .btn{
        padding: 3px 12px;
        font-size: 16px;
        font-weight: bold;
        display:block;
        width:100%;
    }
    
    .confirmOrderPage .addressDetails + .addressDetails{margin-top:15px;}
    
    .myOrdersPage .orderItemInfo > div div{float:none !important;}
    
    .socialIconsWrapper{margin:0 auto 10px; text-align:center;}
    
    .socialIconsWrapper > p {
        margin-top:20px;
    }
    
    .socialIcons li + li{margin-left:12px;}
}

/* CSS for Tablets Portrait Mode */ 
@media all and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {    
    
    
}

/* CSS for Galaxy Tablets Landscape Mode */ 
@media all and (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) { 
        
    
}